<div id="content" class="container-fluid nav-fixed">
  <div id="left">
    <div class="subnav">
      <ul class="subnav-menu">
        <li routerLinkActive="active">
          <a routerLink="/dashboard">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/category">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            <span>Categories</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/category-content">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <span>Contents</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/protocol">
            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
            <span>Protocols</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/pro">
            <i class="fa fa-table" aria-hidden="true"></i>
            <span>P.R.O.</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/clinic">
            <i class="fa fa-medkit" aria-hidden="true"></i>
            <span>Clinics</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/notification">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <span>Notifications</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/under-construction">
            <i class="fa fa-code-fork" aria-hidden="true"></i>
            <span>Pathway</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/logger">
            <i class="fa fa-history" aria-hidden="true"></i>
            <span>Logs</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
